.menu-block {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.rule {
		background-color: black;
		height: 2px;
	}

	ul {
		margin-top: 10px;
		list-style-type: none;
		color: black;
		-webkit-text-stroke: 1px white;
		font-weight: bold;
		width: fit-content;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 0;

		li {
			padding: 2px 100px;
			text-align: center;
			margin-top: 10px;
			list-style-type: none;
			color: white;
			-webkit-text-stroke: 3px black;
			font-size: 40px;
			font-family: 'mario';
			cursor: pointer;
			text-wrap-mode: nowrap;
		}

		@media (max-width: 768px) {
			li {
				font-size: 25px;
			}
		}

	}

	img {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		border-width: 3px;
		border-color: black;
		border-style: ridge;
	}
}
