.form {
	flex-direction: column;
	width: 200px;
	align-items: center;
	display: flex;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
	input {
		text-align: center;
		width: 100%;
		margin: 3px;
		padding: 4px;
		font-weight: bold;
		border-radius: 15px;
		border-width: 4px;
		border-style: groove;
		background-color: rgb(219, 219, 219);
	}

	button {
		width: 100%;
		border-radius: 15px;
		border-width: 4px;
		border-style: groove;
		margin: 3px;
		padding: 4px;
		font-weight: bold;
	}

	.edit-btn {
		background-color: green;
	}
	.quit-btn {
		background-color: red;
	}
}