.scores {
	width: min(1000px, 90%);
	// background-color: aqua;
	margin: auto;
	text-align: center;
	font-weight: bolder;

	h1 {
		font-size: 70px;
		color: rgb(255, 93, 93);
		-webkit-text-stroke: 4px black;
		font-weight: bolder;
		font-family: 'mario';
	}


	.record {
		background-color: rgba(255, 255, 255, 0.1);
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		// font-family: Alexandria;
		font-size: 40px;

		.rule {
			background-color: black;
			height: 2px;
			
		}

		.score-name {
			-webkit-text-stroke: 2px black;
			color: white;
		}

		.score-value {
			-webkit-text-stroke: 1px white;
			color: blue;
		}

		.score-rank {
			-webkit-text-stroke: 3px black;
			color: white;
			font-family: 'mario';
		}
	}

	@media (max-width:768px) {
		.record {
			font-size: 25px;
		}
		
		h1 {
			font-size: 40px;
		}
	}
}