.scores {
	width: min(1000px, 90%);
	// background-color: aqua;
	margin: auto;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;


	.record {
		background-color: rgba(255, 255, 255, 0.1);
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		// font-family: Alexandria;

		.rule {
			background-color: black;
			height: 2px;
			
		}

		.score-name {
			-webkit-text-stroke: 1px white;
			color: black;
		}

		.score-value {
			-webkit-text-stroke: 1px white;
			color: blue;
		}

		.score-rank {
			-webkit-text-stroke: 2px black;
			color: white;
		}
	}
}