.page {
	width: 100vw;
	height: 100vh;
}

.video-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

.ranking-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}