@font-face {
	font-family: 'mario';
	src: url('./assets/SuperMario256.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.page {
	width: 100vw;
	height: 100vh;
}

.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.ranking-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.menu-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.menu-img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border-width: 3px;
	border-color: black;
	border-style: ridge;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 100;
	cursor: pointer;
}
